# Dependencies
node_modules
.pnpm-store

# Build artifacts
.next/
dist/
build/
.output/

# Python
__pycache__/
*.pyc
.venv/

# Local Environment
.env
.env.*
!/.env.example

# IDE
.idea/
.vscode/

# Misc
.DS_Store
*.pem
*.log

# Turbo
.turbo

# Vercel
.vercel

# Testing
coverage/
playwright-report/
test-results/

# Data
data/